.contact_wrapper{
    padding: 0 1rem; 
    h3{
    font-size: 34px;
    font-weight: bold;
    color: #1a1a1a;
    }
    p{
        color: #a5a5a5;
    }
}



.join_courses p{
    font-size: 13px;
    line-height: 2.5;
}
.join_courses--links a{
    color: #a5a5a5;
}
.map{
    width: 100%;
    overflow: hidden;
}