//logo course dans global


footer{
    background-color: #1a1a1a;
    a{
        color: #a5a5a5;
    }
}
.footer_wrapper{
    padding: 0 1rem;
}
.links{
    display: flex;
    flex-direction: column;
    color: #fff;
    p{
        color: #a5a5a5;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
}
menu{
    img{
        width: 5%;
    }
}
.links:nth-of-type(2){
    border-top: 1px solid #a5a5a5;
}
.links:nth-of-type(3){
    border-bottom: 1px solid #a5a5a5;

}

// COPYRIGHT
.copyright{
    color: #fff;
}
.copyright>a{
    color: #007bff;
}
.social{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: 0 auto;
}