// mobile  --> 465px la nav devient sticky et plus grand distance du top 0
//         --> 560 px appârition des btn du swipper
//          --> 570px le logo double de taille, tjs burger
//         --> 975px fin du mobile et du burger
// tablette --> 3blocs dans l'img de fond
//         --> 1265px apparition du numero de tel dans la nav
// pc        --> 1365px le logo se distancie en padding et l'icone du tel double de taille

// font-family: 'Open Sans', sans-serif; Light 300  Regular 400  Bold 700 
// font-family: 'Roboto', sans-serif;    Light 300  Regular 400  Bold 700 

// couleur du jaune: #ffb606
// couleur du noir: #1a1a1a
// couleur du noir pour texte nav: #3a3a3a
// couleur du gris:  color: #a5a5a5; avec font-weight: 500;
// couleur du rose pour backgrounf form contact: #f8f4f4

html{
	min-height: 100vh;
	scroll-behavior: smooth;
}
body{
	width:100%;
    // position: relative;
	flex-grow: 1;
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1{
    font-weight: 400;
    color: #fff;
    strong{
        background: #ffb606;
        padding: 0.3rem;
    }
}
h2{
    text-align: center;
    font-size: 24px;
    margin: 2rem auto;
}
h3{
    color: #fff;
    margin: 0.5rem 0;
}
h4{
    margin: 0.5rem 0;
    font-size: 20px;
    line-height: 1.3;
}
a{
    text-decoration: none;
    color: #fff;
}
menu{
    padding: 0;
}
li{
    list-style-type: none;
    color: #a5a5a5;
}

hr{
    background-color: #ffb606;
    border: none;
    height: 0.3rem;
    width: 15%;
}

//  LOGO COURSE
.logo_course{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    span{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #3a3a3a;
        text-transform: uppercase;
    }
    img{
        width: 7vw;
    }
}


