// mobile  --> 465px la nav devient sticky et plus grand distance du ttop 0
//         --> 560 px appârition des btn du swipper
            // --> 570px le logo double de taille, tjs burger
//         --> 975px fin du mobile et du burger
// tablette --> 3blocs dans l'img de fond
//         --> 1265px apparition du numero de tel dans la nav
// pc        --> 1365px le logo se distancie en padding et l'icone du tel double de taille

// font-family: 'Open Sans', sans-serif; Light 300  Regular 400  Bold 700 
// font-family: 'Roboto', sans-serif;    Light 300  Regular 400  Bold 700 

// couleur du jaune: #ffb606
// couleur du noir: #1a1a1a
// couleur du noir pour texte nav: #3a3a3a
// couleur du gris:  color: #a5a5a5; avec font-weight: 500;

html {
	min-height: 100vh;
	scroll-behavior: smooth;
}
body {
	width:100%;
	flex-grow: 1;
}



body{
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1{
    font-weight: 400;
    color: #fff;
    strong{
        background: #ffb606;
        padding: 0.3rem;
    }
}
h2{
    text-align: center;
    font-size: 24px;
    margin: 2rem auto;
}
h3{
    color: #fff;
    margin: 0.5rem 0;
}
h4{
    margin: 0.5rem 0;
    font-size: 20px;
    line-height: 1.3;
}
a{
    text-decoration: none;
    color: #fff;
}
menu{
    padding: 0;
}
li{
    list-style-type: none;
    color: #a5a5a5;
}

hr{
    background-color: #ffb606;
    border: none;
    height: 0.3rem;
    width: 15%;
}

//  LOGO COURSE
.logo_course{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    span{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #3a3a3a;
        text-transform: uppercase;
    }
    img{
        width: 7vw;
    }
}


// GRID
.grid{
    display: grid;
    padding: 0 1rem;
    margin: 3rem 0 5rem 0;
    gap: 5rem;
}
.course{
    display: flex;
    flex-direction: column;
    background-color: #f8f9fb;
    img{
        width: 100%;
    }
}
.course_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    a{
        color: #1a1a1a;
        &:hover{
        color: #a5a5a5;
        }
    }
    span{
        color: #a5a5a5;
        font-weight: 700;
    }
}
.course_who{
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #eaebec;
    align-items: center;
}
.course_who--who{
    display: flex;
    color: #1a1a1a;
    font-weight: 700;
    white-space: nowrap;
    align-items: center;
    img{
        aspect-ratio: 1/1;
        width: 12%;
        border-radius: 90%;
        margin: 0 1.5rem;
    }
    span{
        color: #a5a5a5;
        padding-left: 0.3rem;
    }
}
.course_who--price{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    background-color: #ffb606;
}