//  partie commune

.home_header, .header_deskstop{
    background: url(../../img/slider_background.jpg) center/cover;
}

//logo course dans global

// partie burger
.home_header{
    // position: relative;
    height: 100vh;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        white-space: nowrap;
    }
}

.courses_header, .contact_header{
    height: 50vh;
    position: relative;
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        white-space: nowrap;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        strong{
            background: #ffb606;
            padding: 0.6rem 1.8rem;
        }
    }
}
.courses_header{
    background: url(../../img/courses_background.jpg) center/cover;
}
.contact_header{
    background: url(../../img/contact_background.jpg) center/cover;
}



// partie header_nav
.header_deskstop{
    display: none;
}



// gros bloc View More
.mobile_view_more{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5rem 0;
}
.view_more{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1.5rem 2rem;
    background-color: #1a1a1a;
    &:hover{
        background-color: #ffb606;
    }
    img{
        width: 15%;
    }
    &:hover img{
        filter: brightness(100);
    }
    h3{
        font-size: 20px;
        font-weight: 400;
    }
    span{
        color: #fff;
        &:hover{
            color: #1a1a1a;
        }
    }
}
.view_more--txt{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}