//  partie commune
.home_header, .header_deskstop{
    background: url(../../img/slider_background.jpg) center/cover;
}

//logo course dans global

// partie burger
.home_header{
    position: relative;
    height: 100vh;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        white-space: nowrap;
    }
}
.burger{
    position: sticky;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
}
.burger_menu{
    height: 0.2rem;
    width: 1.5rem;
    background-color: #3a3a3a;
    margin: 0.4rem 0;
}

// partie header_nav
.header_deskstop{
    display: none;
}



// gros bloc View More
.mobile_view_more{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5rem 0;
}
.view_more{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1.5rem 2rem;
    background-color: #1a1a1a;
    &:hover{
        background-color: #ffb606;
    }
    &:hover img{
        filter: brightness(100);
    }
    .view_more--txt{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
    img{
        width: 15%;
    }
    h3{
        font-size: 20px;
        font-weight: 400;
    }
    span{
        color: #fff;
        &:hover{
            color: #1a1a1a;
        }
    }
}