//logo course dans global

/******EN VERSION MOBILE********************************/

//  partie commune
.home_header, .header_desktop{
    background: url(../../img/slider_background.jpg) center/cover;
}

// partie burger
.header_desktop{
    display: none;
}
.home_header{
    height: 100vh;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        white-space: nowrap;
    }
}
.courses_header, .contact_header{
    height: 50vh;
    position: relative;
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        white-space: nowrap;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        strong{
            background: #ffb606;
            padding: 0.6rem 1.8rem;
        }
    }
}
.courses_header{
    background: url(../../img/courses_background.jpg) center/cover;
}
.contact_header{
    background: url(../../img/contact_background.jpg) center/cover;
}

// gros bloc View More
.mobile_view_more{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5rem 0;
}
.view_more{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1.5rem 2rem;
    background-color: #1a1a1a;
    &:hover{
        background-color: #ffb606;
    }
    img{
        width: 60px;
    }
    &:hover img{
        filter: brightness(100);
    }
    h3{
        font-size: 20px;
        font-weight: 400;
    }
    span{
        color: #fff;
        &:hover{
            color: #1a1a1a;
        }
    }
}
.view_more--txt{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}


/******EN VERSION desktop********************************/
// header_navigation dans nav.scss

.header_nav{
    position: fixed;
    top: 2vh;
    left: 50%;
    translate: -50%;
    width: 70%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .logo_course {
        margin: 1.5rem;
        img{
            width: 35px;
        }
    }
}

.desktop_view_more{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 1rem;
    padding: 1.5rem 2rem;
}
.desktop_view_more--possibilities{
    display: flex;
    background-color: #1a1a1a;
    &:hover{
        background-color: #ffb606;
    }
    &>div{
        font-size: 18px;
        padding: 2rem 1rem;
        & a:hover{
            color: #1a1a1a;
        }
    }
    img{
        margin-left: 2rem;
        width: 60px;
    }
    &:hover img{
        filter: brightness(100);
    }
}


/******MEDIA QUERIES***************************/
@media screen and (min-width: 980px){
    .home_header, .mobile_view_more{
        display: none;
    }
    .header_desktop{
        display: block;
        min-height: 60vh;
    }
}

