.header_nav{
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: row;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 700;
    width: 50%;
    color: #3a3a3a;
    align-items: center;
}