/**********BURGER MENU************/
.burger{
    translate: -50%;
    left: 50%;
    position: fixed;
    z-index: 5;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
}
.burger_menu{
    height: 0.2rem;
    width: 1.5rem;
    background-color: #3a3a3a;
    margin: 0.4rem 0;
}

@media screen and (min-width: 980px){
    .burger{
        display: none;
    }
}

/**********NAV DESKTOP************/
.header_navigation{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    a{
        color:#3a3a3a ;
    }
}
.phone{
    display: none;
}


@media screen and (min-width: 1200px){
    .phone{
        display: flex;
        color: #fff;
        font-weight: normal;
        padding: 1rem;
        background-color: #ffb606;
        a{
            color: #fff;
            padding-left: 1rem;
        }
    }
}

/**********FOOTER************/


.footer_nav{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    a:hover{
        color: #ffb606;
    }
}

menu{
    li{
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }
    img{
        width: 8%;
        padding-right: 1rem;
    }
}